:root {
	--bg-color-1: #FFF;
	--bg-color-2: #DDD;
	--content-color: #111;
	--muted-color: #888;
	--faint-color: #BBB;
	--accent-color: #278;

	--font-main: 'Inter', system-ui;
	--font-heading: var(--font-main);
}

.dark {
	--bg-color-1: #222;
	--bg-color-2: #333;
	--content-color: #EEE;
	--muted-color: #BBB;
	--faint-color: #555;
	--accent-color: #9CD;
}

body {
	color: var(--content-color);
	background-color: var(--bg-color-2);
	font-family: var(--font-main);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-heading);
	margin: 0.125em 0.5ch;
}

button, select{
	padding: 0.25em 1ch;
	transition: background-color linear 0.1s;
	border-radius: 0.75em;
	background-color: var(--bg-color-2);
	color: var(--content-color);
	border: solid var(--faint-color);
	font: var(--font-main);
}
select {
	font-size: 0.8em;
	border-width: 2px;
	border-radius: 0.5em;
}
button:hover, select:hover{
	background-color: var(--bg-color-1);
	border-color: var(--muted-color);
}
button.small{
	margin: 0.125em 0.6ch;
	padding: 0.125em 0.6ch;
	font-size: 0.8em;
	border-width: 2px;
	border-radius: 0.5em;
}
a{
	color: var(--accent-color);
}

#modGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1ch;
}
.modCard {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color-1);
	padding: 0.5em 1ch;
	border-radius: 1em;
}
.modCardTitle {
	display: flex;
}
.modCardTitle > img {
	height: 2em;
	border-radius: 0.5em;
}

.content{
	max-width: 1500px;
	margin: 0.5em auto;
	padding: 1em 2ch;
	background-color: var(--bg-color-1);
	border-radius: 1em;
}

.optionGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
	gap: 2ch;
}

.optionBox.big{
	grid-row: span 2;
}
.divider{
	background-color: var(--faint-color);
	content: ".";
	display: block;
	font-size: 1px;
	width: 100%;
	height: 1px;
}

.optionBox > h2, .optionBox > h3, .optionBox > h4 {
	padding: 0 1ch;
	margin: 0 0 0.25em;
}
.inputEntry {
	margin: 0.25em 0;
}

.inputEntry.align {
	display: grid;
	grid-template-columns: 10ch 1fr;
}
.inputEntry.align > label {
	text-align: right;
	padding-right: 0.5ch;
}
.inputEntry.fill {
	display: flex;
	justify-content: space-evenly;
}
.inputEntry.align > input[type="text"]{
	width: 100%;
}

.inputList > div{
	display: flex;
	justify-content: space-between;
}
.enum {
	display: flex;
	flex-direction: column;
	width: 2ch;
	font-family: 'Consolas', Courier, monospace;
	font-size: 0.8em;
	color: var(--muted-color);
	text-align: right;
	justify-content: center;
}
.template {
	display: none !important;
}

textarea, input[type="text"]{
	background-color: var(--bg-color-1);
	border: none;
	border-bottom: solid var(--faint-color) 1px;
	color: var(--content-color);
	font-family: var(--font-main);
	font-size: 0.85em;
}
textarea.error, input.error{
	background-color: #F004;
	border: solid #F00A 2px;
}
textarea.success, input.success{
	background-color: #0F04;
	border: solid #0F0A 2px;
}
.autocorrect{
	transition: all .5s linear;
}
textarea {
	border: solid var(--faint-color) 1px;
	resize: vertical;
}
.unresizeable { resize: none; }

input[type="radio"]:checked, input[type="checkbox"]:checked{
	background-color: var(--accent-color);
	border-width: 0;
}
input[type="radio"] {
	transition: all 0.1s linear;
	appearance: none;
	height: 1em;
	width: 1em;
	border-radius: 1em;
	border: solid var(--faint-color) 4px;			
	background-color: var(--bg-color-1);
}
input[type="checkbox"] {
	transition: all 0.1s linear;
	appearance: none;
	height: 1em;
	width: 1em;
	margin: auto;
	border-radius: 2px;
	border: solid var(--faint-color) 2px;			
	background-color: var(--bg-color-1);
	position: relative;
}
input[type="checkbox"]:checked::after{
	position: absolute;
	content: "✔";
	font-size: 0.8em;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: var(--bg-color-1);
}

.dropdown {
	padding-top: 0.75em;
	position: relative;
}
.dropdown.closed {
	height: 2em;
}
.dropdown > button {
	position: absolute;
	top: 0;
	width: 100%;
	height: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dropdown > button::after {
	transition: transform .2s ease-out;
	transform: rotate(90deg);
	font-size: 1.2em;
	content: "\›";
}
.dropdown.closed > button::after {
	transform: rotate(0deg);
}
.dropdownContent{
	background-color: var(--bg-color-1);
	transition: all .2s ease-out;
	padding: 1.25em 1ch 0.25em;
	border-radius: .75em;
	border: solid var(--faint-color) 2px;
	overflow: hidden;
}
.dropdown.closed > .dropdownContent{
	padding: 0;
	height: 0;
}