:root {
	--content-max-width: 1500px;

	--bg-color-1: #FFF;
	--bg-color-2: #DDD;
	--content-color: #111;
	--muted-color: #888;
	--faint-color: #BBB;
	--accent-color: #278;

	--font-main: 'Inter', system-ui;
	--font-heading: var(--font-main);
}

@media (prefers-color-scheme: dark){
	:root {
		--bg-color-1: #222;
		--bg-color-2: #333;
		--content-color: #EEE;
		--muted-color: #BBB;
		--faint-color: #555;
		--accent-color: #9CD;
	}
}

* {
	transition: background-color 0.1s linear,
			color 0.1s linear;
}
body {
	color: var(--content-color);
	background-color: var(--bg-color-2);
	font-family: var(--font-main);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-heading);
	margin: 0.125em 0.5ch;
}

button, select{
	padding: 0.25em 1ch;
	transition: background-color linear 0.1s;
	border-radius: 0.75em;
	background-color: var(--bg-color-2);
	color: var(--content-color);
	border: solid var(--faint-color);
	font: var(--font-main);
}
button:disabled {
	transition: none;
	color: var(--muted-color);
	background-color: var(--bg-color-1);
	border-color: var(--bg-color-2);
}
select {
	font-size: 0.8em;
	border-width: 2px;
	border-radius: 0.5em;
}
button:hover:not(:disabled), select:hover {
	background-color: var(--bg-color-1);
	border-color: var(--muted-color);
}
button.small {
	margin: 0.125em 0.6ch;
	padding: 0.125em 0.6ch;
	font-size: 0.8em;
	border-width: 2px;
	border-radius: 0.5em;
}
a{
	color: var(--accent-color);
}

.content {
	max-width: var(--content-max-width);
	margin: 0 auto;
}
.section {
	margin: 0.5em auto;
	padding: 1em 2ch;
	background-color: var(--bg-color-1);
	border-radius: 1em;
}
.section.gap{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#topBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#modGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
	gap: 1vmin;
}
.modCard {
	transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color-1);
	padding: 0.5em 1ch;
	border-radius: 1em;
}
.modCard:hover{
	transform: scale(1.1);
	box-shadow: 0 0 2rem -0.5rem var(--muted-color);
}
.modCard > * {
	pointer-events: none;
}
.modCardHeader {
	display: flex;
	align-items: center;
}
.modCardHeader > img {
	height: 1.5em;
	border-radius: 0.5em;
}
.modCardTitle {
	padding-left: 0.5ch;
	text-decoration: none;
	max-height: 2.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
}
.modCardDescription {
	font-size: 0.8rem;
}

.template, .invisible {
	display: none !important;
}

.modHeader {
	display: flex;
	align-items: center;
}
.modHeader > img {
	height: 3em;
	border-radius: 0.5em;
}
.tags {
	display: flex;
	font-size: 0.8em;
	gap: 0.5ch;
}
.tag {
	padding: 0.25em 0.5ch;
	background-color: var(--bg-color-2);
	border: solid 1px var(--faint-color);
	border-radius: 0.5em;
}